<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/home.css">

    <%- include("partials/head")  %> 


    <title>Home Page</title>
</head>
<body>
    
    <div class="container">
        <div class="row align-self-center">
            <div id="holder" class="col align-self-center">
                
                <img src="/images/basket.jpg">
                <h1 class="display-1 text-center text-light">Welcome to Farmfair!</h1>
                <h2 class="display-4 text-center text-light">How may we help you?</h2>
            </div>
            <div class="col align-self-center">
                <h1 class="text-center">Choose your account type:</h1>  
                <h2 class="display-4 text-center"><a href="/farmerlogin">Seller</a> / <a href="/buyerlogin">Buyer</a></h2>
                
            </div> 
        </div>
    </div>


</body>
</html>